<html>


<head>
    <title>Toddler's Class</title>
    {% load static %}

    <link rel="icon" href="{% static 'images/tclass.jpg' %}">


    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-vis"></script>

</head>
<body style="background-image: url('/static/images/animal.jpg'); background-size:cover">
    <h1 style="text-align: center;font-size:75; background-color: #d5f5f3; margin:0px 0px 0px 0px;">Addition</h1>
    <h2 style="font-size:90px;position:absolute;top:20%;" id='question'><span id='num1'>3</span> + <span id='num2'>2</span> = </h2>
    <div style = "text-align:center;">
        <canvas id="canvas" width="280" height="280" style="position:absolute;top:130;left:420;border:8px solid;"></canvas>
        <canvas id="canvas1" width="280" height="280" style="position:absolute;top: 130;left:725;border: 8px solid;"></canvas>
        <img id="canvasimage" style="position:absolute;top:10%;left:52%;width:280;height:280;display:none;">
        <img id="canvasimage1" style="position:absolute;top:10%;left:52%;width:280;height:280;display:none;">
        <input type="button" value="Check Answer" id="checker" size="48" style="position:absolute;top:440;left:420;">
        <input type="button" value="Clear" id="clearer" size="23" style="position:absolute;top:440;left:970;">
        <input type="button" value="Next Question" id="next" size="23" style="position:absolute;top:270;left:1060;">
        <h2 style="position:absolute;top:445;left:555"><span id='answer'></span></h2>
        <script src="{% static 'js/Mnistdata.js' %}" type="module"></script>
        <script src="{% static 'js/Addition.js' %}" type="module"></script>
    </div>
</body>
</html>
