<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">


    <title>Toddler Classes - Reset</title>



    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_done.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'images/tclass.jpg' %}">


</head>
<body>



<div>
<h1 class="heading">Please check your </h1> <a href="http://127.0.0.1:8000/">Toddler Classes<a> <h1 class="heading"> &nbsp;Registered email for further instructions to reset your password.
</h1>
</div>

</body>
</html>
