<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">


    <title>Toddler Classes - New Password</title>



    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_confirm.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'images/tclass.jpg' %}">


</head>
<body>

<form method="post" style="text-align:left; padding-left:10px;">
  <h1 id="reset">Choose a New Password</h1>
  {% csrf_token %}
    {% for field in form %}
    {{field.label_tag}}<br>
    <span style="text-align:left;">{{field}}</span><br>
    {% for error in field.errors %}
      <p style="color: red">{{error}}</p>
    {% endfor %}
    {% endfor %}
  <button type="submit">Change password</button>
</form>


</body>
</html>
