<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Toddler Classes - Reset</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_form.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'images/tclass.jpg' %}">

</head>
<body>

<form method="post" action="">
  <h1 id="reset">PASSWORD RESET</h1>
  <h1>Enter your Toddler Classes Registered Email</h1>
    {% csrf_token %}
{% for field in form %}
<div style="text-float:left">
    {{field.label_tag}}<br>
    {{field}}
</div>
{% endfor %}
<button type="submit" >submit</button>
</form>

</body>
</html>
