<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">


    <title>Reset</title>



    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'images/tclass.jpg' %}">


</head>
<body>

  <h9>
    Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
  </h9>

</body>
</html>